@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.main_container{
    display: flex;
    height: calc(100vh-74px);
    flex-direction: column;
}